#optionBar {
  position: absolute;
  top: 50vh;
  right: 10px;
  width: 15%;
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.hidden {

}

.shown {
  
}

#optionBar ul {
  margin: 0;
  padding: 0;
}

#main-content {
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: end;
  padding-bottom: max-content;
  overflow: hidden;
}

#visualizer {
  width: 95%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.button {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}